<!--
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    &lt;!&ndash; 新 Bootstrap 核心 CSS 文件 &ndash;&gt;
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">&lt;!&ndash; jQuery文件。务必在bootstrap.min.js 之前引入 &ndash;&gt;
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    &lt;!&ndash; 最新的 Bootstrap 核心 JavaScript 文件 &ndash;&gt;
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h1>Share every day!</h1>
    <div class="row" >
        <div class="col-md-6 col-md-offset-3"
             style="background-color: #dedef8;box-shadow:
        inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>
                bootstrap study
            </p>
        </div>
        <blockquote class="pull-right">
            zengJR
            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
        </blockquote>
</div>

    &lt;!&ndash; jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) &ndash;&gt;
    <script src="https://code.jquery.com/jquery.js"></script>
    &lt;!&ndash; 包括所有已编译的插件 &ndash;&gt;
    <script src="js/bootstrap.min.js"></script>
</body>

</html>-->
<!--<html>
<head>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJW4jsPlNKgv6jFm3B5Edp5ywgdqLWdmc&sensor=false">
    </script>

    <script>
        function initialize()
        {
            var mapProp = {
                center:new google.maps.LatLng(51.508742,-0.120850),
                zoom:5,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };
            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
<div id="googleMap" style="width:500px;height:380px;"></div>

</body>
</html>-->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body>
    <form action="" method="get">
        登录名: <input type="text" name="user_name">
        <input type="submit">
    </form>

</body>
</html>
